@model IEnumerable<InetForum.Models.PostViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>*@

<h2>List of all Posts</h2>

<table class="table">
    <tr>
        <th>Category</th>
        <th>Title post</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryViewModel.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.RouteLink("Go to details", new { controller = "Comment", action = "CommentByPost", id = item.Id })
            </td>
        </tr>
    }
</table>

@if (@ViewBag.ActiveUserRole[0]=="admin") 
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
