@model IEnumerable<InetForum.Models.CategoryViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Категории нашего форума</h2>

@if (@ViewBag.ActiveUserRole[0] == "admin")
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discription)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discription)
                </td>
                <td>
                    @if (@ViewBag.ActiveUserRole[0] == "admin")
                    {
                        <span> @Html.ActionLink("Edit", "Edit", new { id = item.Id }) | @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |</span>
                    }
                    @*@Html.ActionLink("Details", "Details", new { id = item.Id })*@
                    @Html.RouteLink("Просмотр", new { controller = "Post", action = "PostByCategory", id = item.Id })
                </td>
            </tr>
        }

    </table>
