@model InetForum.Models.CommentsPost
@{
    ViewBag.Title = "CommentByPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.PostViewModel.Title)</h2>

<div class="comments-block">
    @Html.DisplayFor(model => model.PostViewModel.Title)
    <div>
        @Html.DisplayFor(model => model.PostViewModel.Text)
    <hr />
    <h2> Comments:</h2>

    @Html.Action("PaginationComment")

    <hr />
    <p>
        @Html.ActionLink("Add comment", "Create", new { newPostId=Model.PostViewModel.Id, newAuthorId=Model.PostViewModel.AuthorViewModelId, newDataComment=DateTime.Now.Date},null)
    </p>
    <hr />
</div>
