@model InetForum.Models.CommentViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>CommentViewModel</h4>
        <p>@ViewBag.PostId</p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group" style="visibility:hidden">
            @Html.LabelFor(model => model.PostViewModelId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@foreach (var model in ViewBag.AllPosts)
                {*@
                    @*@Html.DropDownListFor(model => model.PostViewModelId, ViewBag.AllPosts as SelectList, new { htmlAttributes = new { @class = "form-control", placeholder = "Choose a category" } })*@
                    @Html.EditorFor(model => model.PostViewModelId, new { htmlAttributes = new { @class = "form-control", placeholder = "Choose a category" } })
                @*}*@
                @Html.ValidationMessageFor(model => model.PostViewModelId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AuthorViewModelId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownListFor(model => model.AuthorViewModelId, ViewBag.AllAuthors as SelectList, new { htmlAttributes = new { @class = "form-control", placeholder = "Choose a category" } })*@
                @Html.EditorFor(model => model.AuthorViewModelId, new { htmlAttributes = new { @class = "form-control", placeholder = "Choose a category" } })
                @Html.ValidationMessageFor(model => model.AuthorViewModelId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
